name: Gitleaks Secret Scan

on:
  workflow_call:

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          args: "detect --source . --report-format json --report-path gitleaks-report.json"

    #   - name: Send Report to GenIA
    #     run: python security_report_genia.py